@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap");

body {
  position: relative;
  text-align: center;
  font-family: Dosis, sans-serif;
  font-size: large;
  color: rgb(247, 250, 244);
  background-color: rgb(63, 56, 56);
}

h1 {
  font-family: dosis;
}
#title {
  padding-top: 5%;
}
#form {
  font-family: dosis;
}

.grid-containerMessages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
#demo {
  font-family: dosis;
  color: blueviolet;
}

#message {
  font-family: dosis;
  color: blue;
}

#alert1,
#alert2,
#alert3,
#alert4 {
  font-family: Dosis;
  font-size: xx-large;
  color: rgb(247, 250, 244);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#gamerTotal {
  font-family: dosis;
}

#computerTotal {
  font-family: dosis;
}

.button {
  position: fixed;
  bottom: 80px;
  left: 47vw;
  width: 6vw;
}
